{% extends "base.html" %}

{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        {% include "includes/header.html" with active="Profile" %}

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="profile-contaner">
                    <form class="auth-form-login" method="POST" action="">
                        {% csrf_token %}
                        <div class="auth-form-content">
                            {{ form }}
                        </div>
        
                        <button class="btn amado-btn mb-15" id="form_submit_btn">Change</button>
                    </form>
                    
                    <a href="{% url 'user:password_change' %}">
                        <button class="btn amado-btn mb-15 profile-btn" id="form_submit_btn">Change Password</button>
                    </a>

                    <form method="POST" action="{% url 'user:logout' %}">
                        {% csrf_token %}
                        <button class="btn amado-btn mb-15 profile-btn" id="form_submit_btn">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    
    {% include "includes/footer.html" with active="Profile" %}

{% endblock content %}