{% load static %}

<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="{% url 'main:home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            {% if active == 'Profile' %}
                <li class="active"><a href="{% url 'user:profile' %}">Profile</a></li>
            {% else %} 
                <li><a href="{% url 'user:profile' %}">Profile</a></li>
            {% endif %}
            {% if active == 'Home' %}
                <li class="active"><a href="{% url 'main:home' %}">Home</a></li>
            {% else %} 
                <li><a href="{% url 'main:home' %}">Home</a></li>
            {% endif %}
            {% if active == 'Shop' %}
                <li class="active"><a href="{% url 'main:shop' %}">Shop</a></li>
            {% else %} 
                <li><a href="{% url 'main:shop' %}">Shop</a></li>
            {% endif %} 
            <!-- <li><a href="product-details.html">Product</a></li> -->
            <li><a href="{% url 'cart:index' %}">Cart</a></li>
            <li><a href="{% url 'cart:checkout' %}">Checkout</a></li>
        </ul>
    </nav>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="{% url 'cart:index' %}" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}" alt=""> Cart <span>(0)</span></a>
        <!-- <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png' %}" alt=""> Favourite</a>
        <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}" alt=""> Search</a> -->
    </div>
    <!-- Social Button -->
    <div class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</header>
<!-- Header Area End -->