{% extends "base.html" %}

{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        {% include "includes/header.html" with active="Shop" %}

        {% include "includes/categories_section.html" %}

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <h2>{{ category_name }}</h2>
                </br>

                <div class="row">
                    {% for product in products %}

                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{ product.showImage }}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">$ {{ product.price }}</p>
                                    <a>
                                        <h6>{{ product.name }}</h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="cart">
                                        {% if user_type != "guest"%}
                                        <button data-product="{{product.id}}" data-action="add" class="btn btn-link px-2 update-cart">
                                            <img src="{% static 'img/core-img/cart.png' %}" alt="Add to cart">
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    
    {% include "includes/footer.html" with active="Shop" %}

{% endblock content %}