{% extends "base.html" %}

{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        {% include "includes/header.html" with active="Shop" %}

        {% include "includes/filter_section.html" %}

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <h2>{{ category_name }}</h2>
                </br>

                <!-- <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <p class="total-products">
                                Showing 1-8 of 25
                                <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div> -->

                <div class="row">

                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        {% for product in products %} 
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <a href="{% url 'main:product' product.id %}">
                                    <div class="product-img">
                                        <img src="{{ product.image.url }}" alt="">
                                    </div>
    
                                    <!-- Product Description -->
                                    <div class="product-description d-flex align-items-center justify-content-between">
                                        <!-- Product Meta Data -->
                                        <div class="product-meta-data">
                                            <div class="line"></div>
                                            <p class="product-price">${{ product.price }}</p>
                                            <h6>{{ product.name }}</h6>
                                        </div>
                                        <!-- Ratings & Cart -->
                                        <div class="ratings-cart text-right">
                                            <div class="cart">
                                                <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{% static 'img/core-img/cart.png' %}" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-12">
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                <li class="page-item"><a class="page-link" href="#">prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                <li class="page-item"><a class="page-link" href="#">next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div> -->
            </div>
        </div>
        
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    
    {% include "includes/footer.html" with active="Shop" %}

{% endblock content %}